app = "who-is-seeing"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[build.args]
  PB_VERSION = "0.34.2"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[mounts]
  source = "pb_data"
  destination = "/pb/pb_data"
  initial_size = "1gb"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
